<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Fasilitas</h1>
          </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
                </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <div class="card card-success mx-3" >
              <div class="card-header">
                <h3 class="card-title">Edit Fasilitas</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form @submit.prevent="SubmitPhoto">
                <div class="card-body">
                    <div class="form-group">
                    <label for="exampleInputFile">Foto<span style="color:red">*</span></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" ref="photo" @change='uploadPhoto' class="custom-file-input" id="file">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                    </div>
                  </div>
                  <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid" :src="getPhoto()">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                        <label>Keterangan<span style="color:red">*</span></label>
                        <textarea class="form-control" rows="3" placeholder="Masukkan Keterangan" id="keterangan" ref="keterangan" required v-model="form.keterangan"></textarea>
                      </div>
                  <p style="color:grey;"><span style="color:red">*</span>Harap Isi Bidang Ini</p>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Simpan</button>
                   <a href="/superadmin/fasilitas" class="btn btn-default pull-right ml-2">Cancel</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <Footeradmin />
</div>
<!-- ./wrapper -->

</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradmin.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
    return {
        // post: {},

        // ref
        form: ({
          photo: '',
          keterangan: ''
        })
    }
  },
  beforeMount(){ 
          // axios.defaults.headers.common['Content-Type'] = 'application/json'
          // axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
          const token = localStorage.getItem('token')
          axios.defaults.headers.common.Authorization = `Bearer ${token}`
  
          axios.get(`superadmin/fasilitas/${this.$route.params.id}`)
          .then(response => { 
              this.form.keterangan = response.data.data.keterangan;
          })
          .catch(error => {
              console.error(error);
          }) 
      },
  methods: {
    uploadPhoto(e){
      let file = e.target.files[0];
      this.form.file = file;
      let reader = new FileReader();  
      reader.onloadend = (file) => {
        this.form.photo = reader.result;
      }              
      reader.readAsDataURL(file);    

      // Code Baru
      // this.file = this.$refs.file.files[0];       
    },
     //For getting Instant Uploaded Photo
    getPhoto(){
      let photo = (this.form.photo.length > 100) ? this.form.photo : "fasilitas/"+ this.form.photo;
      return photo;
    },
    //Insert Photo
    SubmitPhoto(){
      // Code Baru
      let formData = new FormData();

      formData.append('foto', this.form.file);
      formData.append('keterangan', this.form.keterangan);
      
      

      const token = localStorage.getItem('token')
      axios.defaults.headers.common.Authorization = `Bearer ${token}`

      axios.post(`superadmin/fasilitas/${this.$route.params.id}`, 
        // form.photo = this.form.photo,
        // Code Baru
        formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      )
        .then(()=>{
          this.$router.push({name: 'superadmin-fasilitas'});  
        })
        .catch(()=>{
          console.log("Error.....")
        })
    },
  }
}
</script>