<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Video</h1>
          </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
                </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <div class="card card-success mx-3" >
              <div class="card-header">
                <h3 class="card-title">Edit Video</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form @submit.prevent="Update">
                <div class="card-body">
                    <div class="form-group">
                    <label for="exampleInputEmail1">Link Video<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Link Video" v-model="post.vedeo">
                  </div>
                  <p style="color:grey;"><span style="color:red">*</span>Harap Isi Bidang Ini</p>
                  <p style="color:grey"><span style="color:red">*</span> Tutorial Salink Link Video:</p>
                  <p style="color:grey">1. Buka video di Youtube</p>
                  <p style="color:grey">2. Copy link video tersebut, seperti berikut : https://www.youtube.com/watch?v=nn0gN_pQG-E</p>
                  <p style="color:grey">3. Ambil hanya bagian "nn0gN_pQG-E" yang terdapat pada link youtube </p>
                  <p style="color:grey">4. Kemudian masukkan bagian link tadi pada form inputan</p>
                </div>
                <!-- /.card-body -->

                

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Simpan</button>
                   <a href="/superadmin/video" class="btn btn-default pull-right ml-2">Cancel</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<Scriptadmin />
</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradmin.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
    return {
        post: {},
    }
  },
  methods: {
            Update() {
              const token = localStorage.getItem('token')
              axios.defaults.headers.common.Authorization = `Bearer ${token}`

              axios.post(`superadmin/vedeo/${this.$route.params.id}`, this.post)
                    .then((response) => {
                        this.$router.push({name: 'superadmin-video'});
                    }).catch(error => {
                    console.log(error)
                });
            }
        }
}
</script>