<template>
<!-- FOOTER -->
<div class="md:h-80 bg-primary-blue">
    <div class="px-5 md:px-20">
          <div class="md:flex items-center space-x-4 text-center md:text-left md:space-x-10 font-dm-sans pt-8 md:pt-16 pb-14">
            <router-link to="/"
              class="text-primary-black font-bold filter hover:underline text-xs md:text-sm">BERANDA</router-link>
            <router-link to="/visimisi-alhuda"
              class="text-primary-black font-bold filter hover:underline text-xs md:text-sm">PROFIL</router-link>
            <router-link to="/ekstrakulikuler-alhuda"
              class="text-primary-black font-bold filter hover:underline text-xs md:text-sm">KEGIATAN</router-link>
            <router-link to="/galeri-alhuda"
              class="text-primary-black font-bold filter hover:underline text-xs md:text-sm">GALERI</router-link>
            <router-link to="/kontak-alhuda"
              class="text-primary-black font-bold filter hover:underline text-xs md:text-sm">KONTAK</router-link>
          </div>
          <div class="-mt-10 md:mt-0 h-0.5 bg-primary-black opacity-30"></div>
          <div class="flex flex-col md:flex-row mt-5 md:mt-16">
            <img src="../images/logo.png" alt="Logo SD AL-HUDA" class="w-56 mx-auto md:mx-0 md:w-40 md:h-12 "/>
            <div class="flex flex-row ml-8 md:ml-20 mt-8 md:mt-0 mb-5">
              <i class="fas fa-map-marker-alt mt-1 "></i>
              <p class="ml-1 font-inter text-base text-primary-black font-normal w-72">Alamat : Sungairujing, Sangkapura, Kabupaten Gresik, Jawa Timur 61181</p>
            </div>
          </div>
    </div>
</div>
</template>