<template>
  <div>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
              <!-- <fa icon="bars"/> -->
            </a>
          </li>
        
        </ul>
    </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Superadmin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <!-- Beranda -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-tachometer-alt"></i>
              <p>
                Beranda
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/superadmin/hero" class="nav-link">
                    <p>Hero</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/superadmin/sambutan" class="nav-link">
                    <p>Sambutan</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/superadmin/video" class="nav-link">
                    <p>Video</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/superadmin/alumni" class="nav-link">
                    <p>Alumni</p>
                  </a>
                </li>
              </ul>
          </li>
          <!-- Profil -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-laptop"></i>
              <p>
                Profil
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/superadmin/visi" class="nav-link">
                  <p>Visi</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/superadmin/misi" class="nav-link">
                  <p>Misi</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/superadmin/prestasi" class="nav-link">
                  <p>Prestasi Siswa</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/superadmin/fasilitas" class="nav-link">
                  <p>Fasilitas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/superadmin/pengajar" class="nav-link">
                  <p>Pengajar</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Kegiatan -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-book"></i>
              <p>
                Kegiatan
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/superadmin/ekstrakulikuler" class="nav-link">
                  <p>Ekstrakulikuler</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/superadmin/berita" class="nav-link">
                  <p>Berita</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/superadmin/pengumuman" class="nav-link">
                  <p>Pengumuman</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Galeri -->
          <li class="nav-item">
            <a href="/superadmin/galeri" class="nav-link">
               <i class="fas fa-images"></i>
              <p>
                Galeri
              </p>
            </a>
          </li>
          <!-- Kontak -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-address-card"></i>
              <p>
                Kontak
                <i class="fas fa-angle-right right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                 <a href="/superadmin/kontak" class="nav-link">
                  <!-- <fa icon="id-card-alt"/> -->
                  <p>
                    Kontak
                  </p>
                </a>
              </li>
               <li class="nav-item">
                 <a href="/superadmin/hubungi" class="nav-link">
                  <!-- <fa icon="phone-alt"/> -->
                  <p>
                    Hubungi Kami
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Pengaturan Admin -->
          <li class="nav-item">
            <a href="/admin/pengaturan" class="nav-link">
               <i class="fas fa-users"></i>
              <p>
                Pengaturan Admin
              </p>
            </a>
          </li>
          <!-- Pengaturan Superadmin -->
           <li class="nav-item">
            <a href="/superadmin/pengaturan" class="nav-link">
               <i class="fas fa-users"></i>
              <p>
                Pengaturan Superadmin
              </p>
            </a>
          </li>
          <!-- Logout -->
            <li class="nav-item">
              <a @click="logout" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <p>
                  Logout
                </p>
              </a>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  </div>
</template>

<script>
export default {
  methods : {  
      getData(){  
          this.isLoggedIn = localStorage.getItem('token') !== null;  
      },
      logout(){
          localStorage.removeItem('token')
          this.getData()  
          this.$router.push('/superadmin')
      }
    }
}
</script>
