<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pengumuman</h1>
          </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
                </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <div class="card card-success mx-3" >
              <div class="card-header">
                <h3 class="card-title">Detail Pengumuman</h3>
              </div>
              
              <!-- /.card-header -->
              <!-- form start -->
              <table class="table table-bordered">
                  <tbody >
                    <tr>
                      <td>Judul</td>
                      <td>{{pengumuman.judul}}</td>
                    </tr>
                    <tr>
                      <td>Isi</td>
                      <td>{{pengumuman.isi}}</td>
                    </tr>
                    <tr>
                      <td>Foto</td>
                      <td><img :src="`/pengumuman/${pengumuman.foto}`" style="width:200px"/></td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Simpan</button>
                   <a href="/admin/pengumuman" class="btn btn-default pull-right ml-2">Cancel</a>
                </div>
            </div>
            
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <Footeradmin />
</div>
<!-- ./wrapper -->

</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradminn.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
        return {
            pengumuman: []
        }
  },
  beforeMount(){ 
          // axios.defaults.headers.common['Content-Type'] = 'application/json'
          // axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
          const token = localStorage.getItem('token')
          axios.defaults.headers.common.Authorization = `Bearer ${token}`
  
          axios.get(`admin/pengumuman/${this.$route.params.id}`)
          .then(response => { 
              this.pengumuman = response.data.data;
          })
          .catch(error => {
              console.error(error);
          }) 
      },
}
</script>