<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pengaturan Admin</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="card">
              <div class="card-header">
                <div class="box-header with-border">
                            <a href="/admin/pengaturan/tambah" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Tambah Admin</a>
                        </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">No</th>
                      <th>Nama</th>
                      <th>Email</th>
                      <!-- <th style="width: 200px">Aksi</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(d, i) in dashboard" :key="d.id">
                      <td>{{i+1}}</td>
                      <td>{{d.name}}</td>
                      <td>{{d.email}}</td>
                      <!-- <td>
                        <a href="/admin/pengaturan/edit" 
                          class="btn btn-xs btn-warning" title="Sunting"><i class="fas fa-edit"></i>
                        </a>
                        <a href="#" 
                          class="btn btn-xs btn-danger" title="Hapus"><i class="fas fa-trash"></i>
                        </a> 
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <Footeradmin />
</div>
<!-- ./wrapper -->

</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradmin.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
        return {
            dashboard: []
        }
    },
   beforeMount(){ 
          // axios.defaults.headers.common['Content-Type'] = 'application/json'
          // axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
          const token = localStorage.getItem('token')
          axios.defaults.headers.common.Authorization = `Bearer ${token}`
  
          axios.get(`superadmin/alladmin`)
          .then(response => { 
              this.dashboard = response.data.data;
          })
          .catch(error => {
              console.error(error);
          }) 
      },
}
</script>