<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pengaturan Admin</h1>
          </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
                </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <div class="card card-success mx-3" >
              <div class="card-header">
                <h3 class="card-title">Tambah Admin</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form @submit.prevent="formSubmit">
                <div class="card-body">
                    <div class="form-group">
                    <label for="exampleInputEmail1">Nama<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Username" v-model="name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email<span style="color:red">*</span></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Email" v-model="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Password<span style="color:red">*</span></label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Email" v-model="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Konfirmasi Password<span style="color:red">*</span></label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Masukkan Email" v-model="c_password">
                  </div>
                  <p style="color:grey;"><span style="color:red">*</span>Harap Isi Bidang Ini</p>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Simpan</button>
                   <a href="/admin/pengaturan" class="btn btn-default pull-right ml-2">Cancel</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <Footeradmin />
</div>
<!-- ./wrapper -->

</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradmin.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
    return {
      name: '',
      email: '',
      password: '',
      c_password: ''
    };
  },
    methods: {
    formSubmit() {
        const token = localStorage.getItem('token')
        axios.defaults.headers.common.Authorization = `Bearer ${token}`
        let uri = 'superadmin/register';
        this.axios.post(uri, {
          name: this.name,
          email: this.email,
          password: this.password,
          c_password: this.c_password
        })
            .then((response) => {
               this.$router.push({
                 name: 'admin-pengaturan'
               });
            }).catch(error => {
                console.log(error)
            });
    }
  },
}
</script>