<template>
  <div>
    <Meta/>
    <div class="z-50">
         <Navbar
         class="shadow-md"
         name="Logo Name"
      :navLinks="[
        {
          name: 'Beranda', link: '/', dropdown: false,
        },
        {
          name: 'Profil',
          dropdown: true,
          dropdownLinks: [ 
            { name: 'Visi Misi', link: '/visimisi-alhuda', dropdown: false },
            { name: 'Prestasi Siswa', link: '/prestasi-alhuda', dropdown: false },
             { name: 'Fasilitas', link: '/fasilitas-alhuda', dropdown: false },
              { name: 'Pengajar', link: '/pengajar-alhuda', dropdown: false },
          ],
        },
        {
          name: 'Kegiatan',
          dropdown: true,
          dropdownLinks: [ 
            { name: 'Ekstrakulikuler', link: '/ekstrakulikuler-alhuda', dropdown: false },
            { name: 'Berita', link: '/berita-alhuda', dropdown: false },
            { name: 'Pengumuman', link: '/pengumuman-alhuda', dropdown: false },
          ],
        },
        { 
            name: 'Galeri', link: '/galeri-alhuda', dropdown: false 
        },
        { 
            name: 'Kontak', link: '/kontak-alhuda', dropdown: false 
        },
      ]"
    />
    </div>

    <div class="relative md:my-20 my-10" style="z-index:-50">  
        <div class="flex flex-row">
            <!-- PENGUMUMAN -->
            <div class="md:mt-20 md:px-20 px-5 mt-10 relative md:w-9/12 w-full">
                <h6 class="font-dm-sans font-bold text-40px text-six-blue" >{{post.judul}}</h6>
                <p class="font-dm-sans font-bold text-sm text-gray-300 uppercase">{{post.tanggal}}</p>
                <!-- <p class="font-dm-sans font-medium  text-lg text-six-blue mt-10">This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking in at the front-door again.</p> -->
                <p class="font-dm-sans font-normal text-gray-400 text-base mt-7">{{post.isi}}</p>
            </div>

            <div class="md:mt-20 w-1/4 md:block hidden" >
                <h6 class="font-dm-sans font-bold text-sm text-gray-300 uppercase">Last Seen</h6>
                <div class="flex flex-row mt-5"  v-for="p in pengumuman" :key="p.id">
                    <img :src="require(`../../../../public/pengumuman/${p.foto}`)" alt="Detail" class="w-32 rounded-lg">
                   <div class="mx-4">
                        <p class="font-dm-sans font-normal text-base">{{p.judul}}</p>
                        <p class="font-dm-sans font-normal text-base text-gray-400">19 December</p>
                   </div>
                </div>
            </div>
        </div>

        <!-- ORNAMENT -->
        <div class="z-0 md:px-10 px-5 absolute md:mt-56 w-full top-0 mt-64">
            <div class="flex flex-row justify-between md:mb-96">
                <div class="md:-mt-10 mt-20">
                    <img src="../../images/grup4.png" alt="Ornament" class="md:w-24 w-16">
                </div>
                <div class="md:-mt-48 -mt-60">
                    <img src="../../images/grup1.png" alt="Ornament" class="md:ml-40 md:w-24 w-16">
                </div>
                <div class="md:-mt-16 mt-60">
                    <img src="../../images/grup3.png" alt="Ornament" class="md:w-full w-16">
                </div>
            </div>
            <div class="flex flex-row justify-between pb-20 md:pt-64 ">
                <img src="../../images/grup5.png" alt="Ornament" >
                <img src="../../images/grup2.png" alt="Ornament" >
            </div>
        </div>
        
    </div>

    <Footer/>
  </div>
</template>


<script>
import Meta from '../Meta.vue'
import Navbar from '../Navbar.vue'
import Footer from '../Footer.vue'
export default {
  auth: false,
  components: {
    Meta,
    Navbar,
    Footer
  },
  data() {
    return {
        pengumuman: [],
        post: {
          judul: '',
          isi: ''
        },
    }
  },
  created() {
            let uri = `user/pengumuman/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
               this.post.judul   = response.data.data.judul,
                this.post.isi = response.data.data.isi
            });

            let uri1 = `user/pengumuman`;
            this.axios.get(uri1).then(response => {
                this.pengumuman = response.data.data;
            });
        },
}
</script>
