<template>
  <div>
    <Meta/>
    <div>
         <Navbar
         class="shadow-md z-50"
         name="Logo Name"
      :navLinks="[
        {
          name: 'Beranda', link: '/', dropdown: false,
        },
        {
          name: 'Profil',
          dropdown: true,
          dropdownLinks: [ 
            { name: 'Visi Misi', link: '/visimisi-alhuda', dropdown: false },
            { name: 'Prestasi Siswa', link: '/prestasi-alhuda', dropdown: false },
             { name: 'Fasilitas', link: '/fasilitas-alhuda', dropdown: false },
              { name: 'Pengajar', link: '/pengajar-alhuda', dropdown: false },
          ],
        },
        {
          name: 'Kegiatan',
          dropdown: true,
          dropdownLinks: [ 
            { name: 'Ekstrakulikuler', link: '/ekstrakulikuler-alhuda', dropdown: false },
            { name: 'Berita', link: '/berita-alhuda', dropdown: false },
            { name: 'Pengumuman', link: '/pengumuman-alhuda', dropdown: false },
          ],
        },
        { 
            name: 'Galeri', link: '/galeri-alhuda', dropdown: false 
        },
        { 
            name: 'Kontak', link: '/kontak-alhuda', dropdown: false 
        },
      ]"
    />
    </div>

    <!-- SWIPER -->
        <div>
          <v-carousel cycle hide-delimiter-background :show-arrows="false" class="slider -mt-2 md:mt-0 -z-50">
            <v-carousel-item v-for="s in slide" :key="s.id">
                <v-sheet>
                    <v-row  align="center" justify="center">
                        <div class="text-h2 ">
                            <img :src="require(`../../../../public/foto/${s.foto}`)" class="object-cover w-full md:h-full h-64 "/>
                        </div>
                    </v-row>
                </v-sheet>
            </v-carousel-item>
         </v-carousel>
         <div class="bg-secondary-green w-60 h-20 -mt-96 md:mb-14 mb-3 md:w-96 md:h-48 relative md:-mt-56 mx-5 md:mx-20 bg-opacity-70 font-poppins md:z-20 -z-20" >
          <p class="text-center text-xs md:text-2xl font-semibold px-2 pt-4 md:px-5 md:pt-10 text-white">"Pendidikan adalah bekal terbaik untuk perjalanan hidup." </p>
          <p class="text-center text-xs md:text-2xl font-semibold px-2 pb-4 md:px-5 md:pb-10 text-white">- Aristoteles</p>
        </div>
        </div>
    
     <!-- SAMBUTAN -->
     <div class="md:mb-24 pb-10 md:-mt-14 z-20 md:z-0">
     <div class="inline w-full" v-for="s in sambutan" :key="s.id" >
        <div class="md:float-right pt-10 md:px-20 ml-7 md:ml-0 md:pt-20">
            <img :src="require(`../../../../public/sambutan/${s.foto}`)" alt="Kepala Sekolah" class="pt-3 w-96 h-2/3" >
        </div>
        <div class="md:px-20 px-5">
          <h5 class="pt-10 md:pt-28 text-2xl text-center md:text-left md:text-44px font-extrabold font-inter text-primary-black ">Sambutan Kepala Sekolah</h5>
          <div class="w-full md:w-1/3 bg-primary-green h-6px mt-1 md:mt-3"></div>
          <div class="md:w-8/12 w-full">
            <p class="pt-4 md:pt-8 text-base font-normal text-primary-black ">
           {{s.sambutan}}
            </p>
          </div>
          <h6 class="pt-7 text-lg font-bold font-inter text-primary-green ">{{s.nama}}</h6>
          <p class="text-base font-inter text-primary-black font-normal">{{s.jabatan}}</p>
        </div>
      </div>
     </div>
      
      <!-- VIDEO --> 
     <div class="px-10 md:px-24 md:mt-28 mt-24 md:mb-28" v-for="v in vedeo" :key="v.id" >
          <div class="bg-blue-opacity"  style="z-index: -10;" >
            <img class="absolute right-0 w-full h-72 md:h-full md:-mt-16 -mt-24" style="z-index: -10;" 
            src="../../images/bg-video.png" alt="bg-video">
          </div>
          <div class="flex flex-col md:flex-row md:py-20 py-5 -mt-12 ">
            <p class="font-inter text-white font-bold text-lg text-center md:text-left md:text-4xl z-0 w-full md:w-2/4 -mt-10 md:pt-16">Kenal Lebih Dekat dengan Sekolah Dasar Islam Terpadu Al-Huda</p>
            <iframe :src="'https://www.youtube.com/embed/'+v.vedeo" class="z-0 mx-auto md:ml-10 w-44 h-36 md:w-full md:h-96 md:pt-0 pt-5 md:-mt-10"> </iframe>
          </div>
      </div>
      
      <!-- ALUMNI  -->
       <div class="bg-ternary-green -mt-2 md:-mt-28">
            <div class="flex flex-col md:flex-row items-center">
              <img src="../../images/ornament.png" alt="Ornamnet" class="w-20 md:w-56 opacity-25 md:mt-10 md:pl-20 md:block hidden">
              <h6 class="font-inter text-xl text-center md:text-left md:text-5xl text-white font-extrabold md:pl-10 md:mt-5 md:py-0 py-5">Alumni</h6>
            </div>
        <div class="md:-mt-5">
                <v-carousel cycle hide-delimiter-background :show-arrows="false">
                    <v-carousel-item v-for="a in alumni" :key="a.id">
                        <v-sheet  >
                            <v-row class="fill-height" align="center" justify="center">
                                <div class="swiper-slide flex md:flex-row flex-col bg-ternary-green items-center">
                                      <img :src="require(`../../../../public/alumni/${a.foto}`)"  alt="Foto Alumni" class="md:-mt-20 -mt-10 md:w-72 md:h-72 w-48 h-48 md:ml-64 ml-0"/>
                                      <div class="md:ml-10 md:w-635px w-full px-5 md:px-0">
                                        <p class="font-dm-sans font-normal text-base text-white md:text-left text-center mt-5 md:-mt-20">{{a.testimoni}}</p>
                                        <p class="font-dm-sans font-bold text-lg text-white md:mt-8 mt-4 md:text-left text-center">{{a.nama}}</p>
                                        <p class="font-dm-sans font-medium text-lg text-white md:mt-5 mt-2 md:text-left text-center">{{a.prestasi}}</p>
                                      </div>
                                    </div>
                            </v-row>
                        </v-sheet>
                    </v-carousel-item>
                </v-carousel>
        </div>
      </div>
    <Footer/>
  </div>
</template>

<style>
          /* .slider::after{
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(to right, rgba(3, 34, 95, 0.3), rgba(3, 34, 95, 0.3));
              position: absolute;
              bottom: 0;
          } */
          /* .bg-blue-opacity::after{
              content: '';
              display: block;
              width: 100%;
              height: 580px;
              background-image: linear-gradient(to right, rgba(3, 34, 95, 0.2), rgba(3, 34, 95, 0.2));
              position: absolute;
              bottom: 0;
              top: 1070px;
              right: 0;
              z-index: -10;
          } */
          .dropdown:hover .dropdown-menu {
              display: block;
          }
          .swiper-slide{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: center;
              justify-content: center;
              align-items: center;
          }
          .img{
              width: 200px;
              height:200px;
          }

          @media only screen and (min-width:100px) and (max-width:500px){
              .img{
                  width: 200px;
                  height:200px;
              }
          }
</style>
<script>
import Meta from '../Meta.vue'
import Navbar from '../Navbar.vue'
import Footer from '../Footer.vue'
export default {
  auth: false,
  components: {
    Meta,
    Navbar,
    Footer
  },
  data () {
      return {
        slide: [],
        alumni: [
          // require("../images/alumni.png"),
          //  require("../images/alumni.png"),
        ],
        sambutan: [],
        vedeo: []
      }
  },
  created() {
            let uri = `user/foto`;
            this.axios.get(uri).then(response => {
                this.slide = response.data.data;
            });

            let uri1 = `user/alumni`;
            this.axios.get(uri1).then(response => {
                this.alumni = response.data.data;
            });

            let uri2 = `user/sambutan`;
            this.axios.get(uri2).then(response => {
                this.sambutan = response.data.data;
            });

            let uri3 = `user/vedeo`;
            this.axios.get(uri3).then(response => {
                this.vedeo = response.data.data;
            });
        }
}
</script>