<template>
  <div>
    <Meta/>
         <Navbar
         class="shadow-md z-50"
         name="Logo Name"
      :navLinks="[
        {
          name: 'Beranda', link: '/', dropdown: false,
        },
        {
          name: 'Profil',
          dropdown: true,
          dropdownLinks: [ 
            { name: 'Visi Misi', link: '/visimisi-alhuda', dropdown: false },
            { name: 'Prestasi Siswa', link: '/prestasi-alhuda', dropdown: false },
             { name: 'Fasilitas', link: '/fasilitas-alhuda', dropdown: false },
              { name: 'Pengajar', link: '/pengajar-alhuda', dropdown: false },
          ],
        },
        {
          name: 'Kegiatan',
          dropdown: true,
          dropdownLinks: [ 
            { name: 'Ekstrakulikuler', link: '/ekstrakulikuler-alhuda', dropdown: false },
            { name: 'Berita', link: '/berita-alhuda', dropdown: false },
            { name: 'Pengumuman', link: '/pengumuman-alhuda', dropdown: false },
          ],
        },
        { 
            name: 'Galeri', link: '/galeri-alhuda', dropdown: false 
        },
        { 
            name: 'Kontak', link: '/kontak-alhuda', dropdown: false 
        },
      ]"
    />

         <div class="flex flex-col md:flex-row md:px-20 px-5 -z-30 md:mt-10 mt-5 md:mb-20 mb-10">
            <!-- KONTAK -->
             <div class="w-96">
                 <h6 class="font-inter text-40px font-bold text-six-blue text-center md:text-left">Kontak</h6>
                 <p class="font-inter font-normal text-base text-primary-black opacity-40 mt-5 relative -z-30">Alamat : Sungairujing, Sangkapura, Kabupaten Gresik, Jawa Timur 61181</p>
                 <div class="mt-5"  v-for="k in kontak" :key="k.id">
                     <div class="flex flex-row mt-2">
                        <img :src="require(`../../../../public/kontak/${k.foto}`)" alt="Foto" class="w-5 h-5">
                        <p class="font-inter font-medium text-lg text-six-blue ml-5">{{k.keterangan}}</p>
                    </div>
                 </div>
                 <div class="mt-5 w-96 h-0.5 bg-gray-200"></div>
                    <p class="font-dm-sans font-medium text-six-blue text-xl my-5">Lokasi</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63505.48770550581!2d112.64339308914569!3d-5.842518087517009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2ddf55d2937bb86d%3A0x37eaef03e6fc5c7b!2sSekolah%20Dasar%20Islam%20Terpadu%20Al-Huda!5e0!3m2!1sid!2sid!4v1639581858808!5m2!1sid!2sid" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
             </div>

             <!-- FORM-->
             <div class="md:ml-20 ml-5 md:mt-0 mt-10">
                  <h6 class="font-inter text-40px font-bold text-six-blue text-center md:text-left">Hubungi Kami</h6>
                  <p class="font-inter font-normal text-base text-primary-black opacity-40 mt-5 text-center md:text-left">Tinggalkan pesan jika anda memiliki pertanyaan</p>
                  <div class="w-80 md:w-full h-3/5 md:h-2/3 bg-gray-100 mt-8 rounded-xl mc:ml-0 ml-4">
                    <form @submit="formSubmit" class="md:px-20 px-5 py-10 md:py-10" >
                        <!-- EMAIL -->
                        <p class="font-inter font-bold text-sm text-six-blue">E-MAIL</p>
                        <input type="email" v-model="post.email" class="form-control mt-3 shadow appearance-none bg-white border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Your Email" >

                        <!-- PESAN -->
                        <p class="font-inter font-bold text-sm text-six-blue mt-6">PESAN</p>
                        <textarea v-model="post.pesan" 
                        class="form-control mt-3 shadow appearance-none bg-white border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="10" placeholder="Drop us a line"></textarea>

                        <!-- NAMA -->
                        <p class="font-inter font-bold text-sm text-six-blue mt-5">NAMA</p>
                        <div class="flex flex-row">
                            <input type="text" v-model="post.nama" class="form-control mt-3 shadow appearance-none bg-white border rounded-3xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                           placeholder="Your Name" >

                            <button class="bg-primary-tosca text-white px-10 mt-2 ml-3 rounded-3xl">
                                Send
                            </button>
                        </div>
                    </form>
                  </div>
             </div>
         </div>

        

        <!-- ORNAMENT -->
        <div class="md:px-10 px-5 absolute md:mt-56 w-full top-0 mt-64 -z-50">
            <div class="flex flex-row justify-between ">
                <div class="md:-mt-10 mt-20">
                    <img src="../../images/grup4.png" alt="Ornament" class="md:w-24 w-16">
                </div>
                <div class="md:-mt-48 -mt-60">
                    <img src="../../images/grup1.png" alt="Ornament" class="md:ml-40 md:w-24 w-16">
                </div>
                <div class="md:-mt-16 mt-60">
                    <img src="../../images/grup3.png" alt="Ornament" class="md:w-full w-16">
                </div>
            </div>
            <div class="flex flex-row justify-between pb-20 md:pt-64 ">
                <img src="../../images/grup5.png" alt="Ornament" >
                <img src="../../images/grup2.png" alt="Ornament" >
            </div>
        </div>
        


    <Footer/>
  </div>
</template>


<script>
import axios from 'axios'

import Meta from '../Meta.vue'
import Navbar from '../Navbar.vue'
import Footer from '../Footer.vue'
export default {
  auth: false,
  components: {
    Meta,
    Navbar,
    Footer
  },
  data() {
    return {
      post: {},

      kontak:[]
    };
  },

  methods: {
    formSubmit() {
       let uri = 'user/hubungi';
        this.axios.post(uri, this.post)
            .then((response) => {
               this.$router.push({
                 name: 'kontak-alhuda'
               });
            }).catch(error => {
                console.log(error)
            });
    }
  },
  created() {
            let uri = `user/kontak`;
            this.axios.get(uri).then(response => {
                this.kontak = response.data.data;
            });

           
        }
}
</script>