<template>
  <div>
    <Metaadmin />

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Silahkan Login</p>
      <!-- <div v-if="error">
            <div class="alert bg-danger text-white m-4">
              {{ error }}
            </div>
          </div> -->
      <form @submit.prevent="login">
        <!-- Email -->
        <div class="input-group mb-3">
          <input type="email" v-model="email" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-envelope"></i>
            </div>
          </div>
        </div>
        <!-- Password -->
        <div class="input-group mb-3">
          <input type="password" v-model="password" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-lock"></i>
            </div>
          </div>
        </div>
        <center><router-link to="/superadmin">Klik Untuk Login Sebagai Superadmin</router-link></center>
        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

</body>
  </div>
</template>

<script>
import Metaadmin from '../Metaadmin.vue'

// import { reactive, ref } from 'vue'
// import { useRouter } from 'vue-router'
// import axios from 'axios'

export default {
    components: {
        Metaadmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
    },
    data () {
      return {
          email: '',
          password: '',
           error: '',
      }
    },
    methods: {
      login() { 
              axios.post('superadmin/login', {
                  email: this.email,
                  password: this.password
                })
                .then(response => { 
                  let data = response.data[0]; 
                  localStorage.setItem('token',data.token)
                  // this.$emit('setData') 
                  // console.log(data)
                   
                  this.$router.push({ name: 'admin-hero'});
                  
                })
               .catch(error => { 
                  // error = error.response.data;
                  console.log(response.data.error)
                });
          }
    }
}
</script>
