<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Prestasi Siswa</h1>
          </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
                </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <div class="card card-success mx-3" >
              <div class="card-header">
                <h3 class="card-title">Edit Prestasi</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  @submit.prevent="Update">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nama<span style="color:red">*</span></label>
                    <input type="text" class="form-control" v-model="post.nama" id="exampleInputEmail1" placeholder="Masukkan Nama">
                  </div> 
                  <div class="form-group">
                    <label for="exampleInputEmail1">Lomba<span style="color:red">*</span></label>
                    <input type="text" class="form-control" v-model="post.lomba" id="exampleInputEmail1" placeholder="Masukkan Lomba">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tingkat<span style="color:red">*</span></label>
                    <input type="text" class="form-control" v-model="post.tingkat" id="exampleInputEmail1" placeholder="Masukkan Tingkat">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Peringkat<span style="color:red">*</span></label>
                    <input type="text" class="form-control" v-model="post.peringkat" id="exampleInputEmail1" placeholder="Masukkan Peringkat">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Tahun<span style="color:red">*</span></label>
                    <input type="number" class="form-control" v-model="post.tahun" id="exampleInputEmail1" placeholder="Masukkan Tahun">
                  </div>
                  <p style="color:grey;"><span style="color:red">*</span>Harap Isi Bidang Ini</p>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Simpan</button>
                   <a href="/superadmin/prestasi" class="btn btn-default pull-right ml-2">Cancel</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <Footeradmin />
</div>
<!-- ./wrapper -->

</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradmin.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
    return {
        post: {},
    }
  },
  beforeMount(){ 
          // axios.defaults.headers.common['Content-Type'] = 'application/json'
          // axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
          const token = localStorage.getItem('token')
          axios.defaults.headers.common.Authorization = `Bearer ${token}`
  
          axios.get(`superadmin/prestasi/${this.$route.params.id}`)
          .then(response => { 
              this.post = response.data.data;
          })
          .catch(error => {
              console.error(error);
          }) 
      },
  methods: {
            Update() {
              const token = localStorage.getItem('token')
              axios.defaults.headers.common.Authorization = `Bearer ${token}`

              axios.put(`superadmin/prestasi/${this.$route.params.id}`, this.post)
                    .then((response) => {
                        this.$router.push({name: 'superadmin-prestasi'});
                    }).catch(error => {
                    console.log(error)
                });
            }
        }
}
</script>