<template>
  <div>
    <Metaadmin />

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <Navbaradmin />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pengumuman</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="card">
              <div class="card-header">
                <div class="box-header with-border">
                            <a href="/superadmin/pengumuman/tambah" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Tambah Pengumuman</a>
                        </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">No</th>
                      <th style="width:200px">Judul</th>
                      <th style="width:200px">Isi</th>
                      <th style="width:150px">Foto</th>
                      <th style="width: 100px">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(p, i) in pengumuman" :key="p.id">
                      <td>{{i+1}}</td>
                      <td>{{p.judul}}</td>
                      <td>{{p.isi | truncate(100, '...')}}</td>
                      <td><img :src="`/pengumuman/${p.foto}`" style="width:200px"/></td>
                      <td>
                        <router-link :to="{name: 'superadmin-pengumuman-edit', params: {id: p.id}}"   
                          class="btn btn-xs btn-warning" title="Sunting"><i class="fas fa-edit"></i>
                        </router-link>
                        <button @click.prevent="Delete(p.id, i)" 
                          class="btn btn-xs btn-danger" title="Hapus"><i class="fas fa-trash"></i>
                        </button> 
                        <router-link :to="{name: 'superadmin-pengumuman-detail', params: {id: p.id}}"  
                            class="btn btn-xs btn-info" title="Detail">
                            <i class="fas fa-eye"></i>
                        </router-link>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <Footeradmin />
</div>
<!-- ./wrapper -->

</body>
  </div>
</template>
<script>
import Metaadmin from '../../Metaadmin.vue'
import Navbaradmin from '../../Navbaradmin.vue'
import Footeradmin from '../../Footeradmin.vue'

export default {
    components: {
        Metaadmin,
        Navbaradmin,
        Footeradmin,
    },
    mounted() {
    window.$('body').Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$('ul[data-widget="treeview"]').Treeview('init');
    window.$('.dropdown').Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
  },
  data() {
        return {
            pengumuman: []
        }
  },
  beforeMount(){ 
          // axios.defaults.headers.common['Content-Type'] = 'application/json'
          // axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token')
          const token = localStorage.getItem('token')
          axios.defaults.headers.common.Authorization = `Bearer ${token}`
  
          axios.get(`superadmin/pengumuman`)
          .then(response => { 
              this.pengumuman = response.data.data;
          })
          .catch(error => {
              console.error(error);
          }) 
      },
   methods: {
      Delete(id, i){
          const token = localStorage.getItem('token')
          axios.defaults.headers.common.Authorization = `Bearer ${token}`
        
          axios.delete(`superadmin/pengumuman/${id}`)
            .then(response => {
              this.pengumuman.splice(i, 1);
               alert('Data Berhasil Dihapus!');
            }).catch(error => {
              alert('system error!');
            });
      }
   },
   filters: {
        truncate: function (text, length, suffix) {
            if (text.length > length) {
                return text.substring(0, length) + suffix;
            } else {
                return text;
            }
        },
    }
}
</script>